{% extends "fenixedu-learning-theme/base.html" %}

{% block content %}

{% if evaluations is not empty  %}
    <h4>Currently there are no evaluations scheduled.</h4>
{% else %}
    {% if comment is not empty %}
        <h4>*) {{ comment }}</h4>
    {% endif %}

    <table class="table">
        <tr>
            <th>{{ i18n('resources.FenixEduLearningResources', 'label.evaluation.title') }}</th>
            <th>{{ i18n('resources.FenixEduLearningResources', 'label.evaluation.when') }}</th>
            <th>{{ i18n('resources.FenixEduLearningResources', 'label.evaluation.location') }}</th>
        </tr>
        {% for evaluation in evaluations %}
        <tr>
            <td>{{ evaluation.presentationName }}</td>
            <td>{{ evaluation.when }}</td>
            <td>{{ evaluation.location }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock content %}
